/*.login-form {*/
    /*margin-top: 40%;*/
/*}*/

/*@media (max-height: 500px) {*/
    /*.login-form {*/
        /*margin-top: 0;*/
    /*}*/
/*}*/

.menu-pr-row-height{
    margin-top: 100px;
    margin-bottom: 100px;
}

.menu-pr-btn-large{
    width: 250px;
    height: 90px;
    font-size: 42px;
}