/*.login-form {*/
    /*margin-top: 40%;*/
/*}*/

/*@media (max-height: 500px) {*/
    /*.login-form {*/
        /*margin-top: 0;*/
    /*}*/
/*}*/

.btn-admin-min-width{min-width: 180px;}

.menu-pr-row-height{
    margin-top: 100px;
    margin-bottom: 100px;
}

.menu-pr-btn-large{
    width: 250px;
    height: 90px;
    font-size: 42px;
}
/*========= Report =============*/
.label2-daterange {
    margin-left: calc(46%);
}
.m-t-18 {
    margin-top: 18px;
}
#report_img{
    height: 320px;
}
@media (min-width: 768px) and (max-width: 1366px){
    .label2-daterange {
        margin-left: calc(25%);
    }
}