/*.login-form {*/
    /*margin-top: 40%;*/
/*}*/

/*@media (max-height: 500px) {*/
    /*.login-form {*/
        /*margin-top: 0;*/
    /*}*/
/*}*/

.menu-pr-row-height{
    margin-top: 100px;
    margin-bottom: 100px;
}

.menu-pr-btn-large{
    width: 250px;
    height: 90px;
    font-size: 42px;
}

.create-pr-row-width{
    margin-left: 20px;
    margin-right: 20px;
}

.create-pr-sub-form{
    box-sizing: border-box;
    border: solid 1px #bdbdbd;
    background-color: #eee;
    padding: 15px;
}